.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container-darkmode-toggle {
  padding: 10px 0 0 5px;
}

@media only screen and (max-device-width: 568px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
