.form {
  box-sizing: border-box;
  outline: none;
  display: block;
  padding: 7px;
  border: none;
  border-bottom: 0.5px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
}

.form--large {
  width: 25em;
}

.form--large--input {
  outline: none;
  border: none;
  font-size: 2em;
}
